body{
    background-color: rgb(242, 244, 247);
}

*{margin: 0;padding: 0;
box-sizing:border-box;}

.header{width: 100%;
    background-image: linear-gradient(to right, #23227b,rgb(132, 136, 219));
    }

.navbar-brand{color: white!important;}
.nav-link{color: white!important;}
.nav-link:hover{color: rgb(18, 26, 76)!important;}
@media(max-width:68px){
    .nav-link{text-align: center;}
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 0; /* Added */
}

img {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 20px;
  }